@font-face {
  font-family: "la_obrige";
  src: url("la_obrige.woff2") format("woff2");
}
@font-face {
  font-family: "hatolie";
  src: url("hatolie.woff2") format("woff2");
}
@font-face {
  font-family: "Arsenica";
  src: url("Arsenica.woff2") format("woff2");
}
@font-face {
  font-family: "Kaoly";
  src: url("Kaoly.woff2") format("woff2");
}
html {
  scroll-behavior: smooth;
}
.apropos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.apropos > div {
  width: 40%;
}

.toto {
  text-align: center;
  width: fit-content;
  font-size: 20px;
  font-family: "la_obrige";
  color: white;
  margin: auto;
}

.tumblr {
  margin: auto;
  display: block;
  width: fit-content;
}
img {
  max-width: 300px;
  display: block;
  transition: 0.3s;
  margin: auto;
}

img:hover {
  transform: scale(1.1);
}
.block {
  width: 250px;
  font-family: "la_obrige";
  border-radius: 50px;
  background-color: white;
  color: black;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
  flex-flow: wrap;
  font-size: 25px;
}
.transpa {
  opacity: 0.4;
}

h1 {
  font-family: "Hatolie";
  font-style: normal;
  font-weight: 400;
  font-size: 12vw;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  text-align: center;
}
h2 {
  font-family: "Arsenica";
  font-style: thin;
  font-weight: 400;
  font-size: 6em;
  color: white;
  text-align: center;
  margin: 200px;
}
h3 {
  font-family: "arsenica";
  font-style: normal;
  font-weight: 400;
  font-size: 3em;
  color: black;
  text-align: center;
  background-color: white;
  border-radius: 5px;
}
h4 {
  font-family: "kaoly";
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  color: white;
  text-align: left;
}
h5 {
  font-family: "arsenica";
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  color: black;
  text-align: center;
  background-color: white;
  border-radius: 2px;
}

p {
  font-family: "Arsenica";
  font-style: normal;
  font-weight: 200;
  font-size: 1.5em;
  color: white;
  text-align: left;
  box-flex: 5em;
}
body {
  background-image: url("portfolio.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "la_obrige";
}

a:hover {
  transform: scale(1.2);
}
a {
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.apropos {
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .apropos > div {
    width: 90%;
  }
}

.pres {
  height: 100vh;
}
.form {
  font-family: "la_obrige";
  text-align: center;
  color: white;
  width: 100%;
  display: flex;
}
.footer {
  display: flex;
}

.formbloc {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input,
textarea {
  font-family: "kaoly";
  border-radius: 30px;
  border-color: white;
  border-style: none;
  margin: auto;
  margin-top: 10px;
  display: flex;
  font-size: 1.2vw;
  padding: 2vw;
  outline-style: none;
}
label {
  font-size: 20px;
}
.submit {
  transition: 0.3s;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}
.submit:hover {
  transform: scale(1.1);
}
.sub {
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.fleche {
  width: 200px;
}
